In [2]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
import xgboost as xgb
%matplotlib inline
# %matplotlib notebook

/Users/Yusuf/anaconda/envs/py27/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv('train.csv')
df.head()

,index,TX,TY,X,Y,Z,chi2,ele_P,data_ind,signal
0,0,0.013209,0.067202,66081.937500,52968.695312,11637.0,0.880506,NaN,0,1
1,1,0.014165,0.071018,66100.265625,53058.140625,12930.0,0.522405,NaN,0,1
2,2,0.017983,0.069956,66118.492188,53147.492188,14223.0,0.971824,NaN,0,1
3,3,0.013956,-0.058355,66121.281250,53082.601562,14223.0,0.771712,NaN,0,1
4,4,0.002209,0.045891,66116.429688,53143.609375,14223.0,0.345887,NaN,0,1

In [5]:
df_shuffled = shuffle(df, random_state=12)
df_shuffled = df_shuffled.fillna(0)
X = df_shuffled[df_shuffled.columns[1:8]]
y = df_shuffled.iloc[:,9]

In [6]:
lr = LogisticRegression()
fit = lr.fit(X,y)

In [7]:
y_pred = fit.predict_proba(X)[:,1]
roc_auc_score(y, y_pred)

0.61316538869856785

In [8]:
df_test = pd.read_csv('new_test.csv')
df_test.head()

,index,TX,TY,X,Y,Z,chi2,ele_P,data_ind
0,0,-0.110714,-0.040569,59331.917969,49500.554688,6465.0,2.033096,NaN,221
1,1,-0.165904,0.159821,34738.796875,68337.164062,41376.0,0.369803,NaN,21
2,2,0.694244,-0.107642,68450.296875,45701.441406,59478.0,1.266626,NaN,347
3,3,0.370796,-0.016071,50257.199219,76170.953125,71115.0,2.767298,NaN,133
4,4,0.278292,0.332729,59803.960938,5938.398438,5172.0,2.794279,NaN,23

In [13]:
X_test = df_test[df_test.columns[1:8]]

In [14]:
len(X_test)

7496796

In [15]:
X_test = X_test.fillna(0)

In [19]:
y_pred_test = lr.predict_proba(X_test)[:,1]

In [20]:
sub = pd.read_csv("new_res_sample.csv")
sub.head()

   index    signal
0      0  0.677699
1      1  0.123268
2      2  0.422209
3      3  0.922433
4      4  0.931426

In [21]:
sub.signal = y_pred_test
sub.to_csv("new_res_sample.csv", index=False)

In [ ]:
sub.head()