In [24]:
import numpy as np
import pandas as pd

In [25]:
new_test = pd.read_csv('new_test.csv')
new_test.head()

,index,TX,TY,X,Y,Z,chi2,ele_P,data_ind
0,0,-0.110714,-0.040569,59331.917969,49500.554688,6465.0,2.033096,NaN,221
1,1,-0.165904,0.159821,34738.796875,68337.164062,41376.0,0.369803,NaN,21
2,2,0.694244,-0.107642,68450.296875,45701.441406,59478.0,1.266626,NaN,347
3,3,0.370796,-0.016071,50257.199219,76170.953125,71115.0,2.767298,NaN,133
4,4,0.278292,0.332729,59803.960938,5938.398438,5172.0,2.794279,NaN,23

In [26]:
X_test = new_test[new_test.columns[1:7]]

In [27]:
X_test.head()

         TX        TY             X             Y        Z      chi2
0 -0.110714 -0.040569  59331.917969  49500.554688   6465.0  2.033096
1 -0.165904  0.159821  34738.796875  68337.164062  41376.0  0.369803
2  0.694244 -0.107642  68450.296875  45701.441406  59478.0  1.266626
3  0.370796 -0.016071  50257.199219  76170.953125  71115.0  2.767298
4  0.278292  0.332729  59803.960938   5938.398438   5172.0  2.794279

In [34]:
X_test = X_test.fillna(0.0)

In [51]:
y_pred_test = X_test['chi2']
y_pred_test.max()

3.0

In [58]:
y_pred_test = X_test['chi2'] * 1.0/3

In [59]:
new_res_sample = pd.read_csv('new_res_sample.csv')
new_res_sample.head()

   index    signal
0      0  0.969787
1      1  0.176396
2      2  0.604181
3      3  1.320001
4      4  1.332871

In [60]:
new_res_sample.signal = y_pred_test
new_res_sample.to_csv("new_res_sample.csv", index=False)

In [61]:
new_res_sample.head(10)

   index    signal
0      0  0.677699
1      1  0.123268
2      2  0.422209
3      3  0.922433
4      4  0.931426
5      5  0.774004
6      6  0.916341
7      7  0.539466
8      8  0.945342
9      9  0.757730